<mat-drawer-container class="body-wrapper" [hasBackdrop]="false">
  <mat-drawer #drawer mode="push">
    Sidebar navigation here
  </mat-drawer>
  <mat-drawer-content>

    <button class="hamburger hamburger--emphatic" type="button" [class.is-active]="drawer.opened"
      (click)="drawer.toggle()">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <main id="main-content">
      <router-outlet></router-outlet>
    </main>

  </mat-drawer-content>
</mat-drawer-container>

<footer>Copyright 2020 Nikša Fantela</footer>