$darykGreyBorder:#676767;

$challengerPrimary: (
    50 : #ffece5,
    100 : #ffd0be,
    200 : #ffb193,
    300 : #ff9267,
    400 : #ff7a47,
    500 : #ff6326,
    600 : #ff5b22,
    700 : #ff511c,
    800 : #ff4717,
    900 : #ff350d,
    A100 : #ffffff,
    A200 : #fff8f6,
    A400 : #ffcbc3,
    A700 : #ffb5aa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$challengerSecondary: (
    50 : #e7e5ff,
    100 : #c3beff,
    200 : #9c93ff,
    300 : #7467ff,
    400 : #5647ff,
    500 : #3826ff,
    600 : #3222ff,
    700 : #2b1cff,
    800 : #2417ff,
    900 : #170dff,
    A100 : #ffffff,
    A200 : #f7f6ff,
    A400 : #c5c3ff,
    A700 : #acaaff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);