$iframeHeight : 50vh;

.single-challenge{
    .iframe-wrap{
        width: 100%;
        height: $iframeHeight;
        iframe {
            width: 100%;
            height: $iframeHeight;
        }
    }
}