

    <mat-card class="section-workout">
        <article *ngIf="currentWorkout$ | async as workout">
            <mat-card-header>
                <h1>{{ workout.workoutTitle}}</h1> 
            </mat-card-header>
            <mat-card-content>
                <p>{{ workout.workoutDescription}}</p>

                <div *ngFor="let challenge of workout.challenges; let i = index;" class="section-workout__challenge">
                    <h3>Challenge {{ i + 1}} : {{ challenge.challengeTitle }}</h3>
                     <button 
                         mat-raised-button 
                         color="accent" 
                         [disabled]="isShown(i, openedChallenges)"
                         (click)="openThisChallenge(i)">
                         Load Solution
                     </button>
         
                     <ng-template *ngIf="isShown(i, openedChallenges) && componentChallengeType"
                         [ngComponentOutlet]="componentChallengeType"
                         [ngComponentOutletInjector]="challenge | compContext"
                     ></ng-template>
                  
                </div>

            </mat-card-content>
        </article>

    </mat-card>

